.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  row-gap: 100px;
}

.time {
  text-align: center;
  margin-bottom: 20px;
}
.game-container {
  background-color: #323437;
  background-color: #70768431;
  font-weight: bold;
  width: 80%;
  padding: 20px;
  opacity: 20px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(5px);
}

.running-animation {
  height: 40px;
  width: auto;
  object-fit: contain;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) rotate(-90deg);
  animation: running-animation 10s linear infinite;
}

.running-animation.paused {
  animation-play-state: paused;
}

.running-animation.reset {
  animation: none;
}

@keyframes running-animation {
  0% {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) rotate(-90deg);
  }
  16.5% {
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-100%) rotate(-90deg);
  }
  16.6% {
    top: 0;
    left: 0;
    transform: translateX(-100%) translateY(-100%) rotate(-180deg);
  }
  33.2% {
    top: 100%;
    left: 0;
    transform: translateX(-100%) translateY(0%) rotate(-180deg);
  }
  33.3% {
    top: 100%;
    left: 0;
    transform: translateX(-100%) translateY(0%) rotate(-270deg);
  }
  49.9% {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(0%) rotate(-270deg);
  }
  50% {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(0%) rotate(-270deg);
  }
  66.5% {
    top: 100%;
    left: 100%;
    transform: translateX(0%) translateY(0%) rotate(-270deg);
  }
  66.6% {
    top: 100%;
    left: 100%;
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  83.2% {
    top: 0%;
    left: 100%;
    transform: translateX(0%) translateY(-100%) rotate(0deg);
  }
  83.3% {
    top: 0%;
    left: 100%;
    transform: translateX(0%) translateY(-100%) rotate(90deg);
  }
  99.9% {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) rotate(90deg);
  }
  100% {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) rotate(90deg);
  }
}

.text-container {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
input[id="text"] {
  border-radius: 20px;
  border-color: #6c6c6c;
  min-height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border-style: solid;
  padding-left: 10px;
  transition: 0.3s;
  outline: none;
}

.App.light .write {
  color: black;
}
.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}
.math-container {
  width: 500px;
  background-color: #323437;
  background-color: #70768431;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
