.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #323437;
  background-color: #70768431;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
}

.input {
  border-radius: 20px;
  border: 3px solid #6c6c6c;
  min-height: 32px;
  min-width: 400px;
  padding: 10px 15px;
  margin-bottom: 20px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  color: white;
}

.submit-button {
  color: white;
  padding: 5px 12px;
  min-width: 150px;
  min-height: 30px;
  transition: 0.6s;
  cursor: pointer;
  border-radius: 8px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-image: linear-gradient(90deg, #252525, #261d19, #96938f);
  box-shadow: 0 0px 10px rgba(34, 34, 34, 0.835);
  background-size: 300%;
  background-position: right;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
}

.submit-button:hover {
  cursor: pointer;
  background-position: left;
  transition: 0.6s;
  box-shadow: 0 0px 15px rgba(34, 34, 34, 0.835);
  transform: translateY(-5px);
}

.heading-login {
  margin-bottom: 20px;
  font-size: larger;

  color: aliceblue;
}
.forgot-password {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  transition: 0.8s;
  font-size: 11px;
  text-align: center;
  transition: transform 0.5s;
}

.forgot-password:hover {
  transform: translateY(-5px);
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.gap {
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  column-gap: 30px;
  margin-bottom: 20px;
}

.error {
  color: red;
}
