/**
 *  This file contains the CSS file for the coins page.
 *  @author Ajanthapan Agilaruben
 *  
 *
 *  @date 1/4/2024 - 15:39:28 PM
 *
 */

.coinsTitle {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
