/**
 *  This file contains the CSS file for the home page as well as across all othe pages.
 *  @author Ajanthapan Agilaruben
 *  
 *
 *  @date 1/4/2024 - 15:39:28 PM
 *
 */

@font-face {
  font-family: FastTrack;
  src: url("./assets/FAST-TRACK.ttf");
}

/* Custom Font imports */

@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(./assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;

  transition: color 0.5s, background-color 0.5s, background-image 0.5s;
  scroll-behavior: smooth;
}

.App.light {
  background-image: url(./assets/background-lightmode.png);
  color: black;
}

.content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-summary {
  width: 100%;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 50px;
  margin-bottom: 20px;
  /* position: absolute;
  left: 50%;
  top: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
}

.home-welcome-buttons {
  display: flex;
  column-gap: 50px;
  white-space: nowrap;
}

.button {
  display: flex;
  align-items: center;
  color: white;
  padding: 15px 32px;
  width: min-content;
  column-gap: 5px;
  transition: 0.6s;
  cursor: pointer;
  border-radius: 8px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-image: linear-gradient(90deg, #797979, #261d19, #96938f);
  box-shadow: 0 0px 10px rgba(34, 34, 34, 0.835);
  background-size: 300%;
  background-position: right;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
  margin-top: 12px;
  text-decoration: none;
}

.App.light .button {
  color: black;
  background-image: linear-gradient(90deg, #252525, #504743, #f3f3f3);
  border: 0px solid rgba(255, 255, 255);
  box-shadow: 0 0px 15px rgba(173, 173, 173, 0.835);
}

.button:hover {
  cursor: pointer;
  background-position: left;
  transition: 0.6s;
  transform: translateY(-5px);
}

.App.light .button:hover {
  background-color: #8f8f8f;
  background-image: none;
}

.button2 {
  color: white;
  padding: 5px 12px;
  min-width: 200px;
  max-height: 30px;
  transition: 0.6s;
  cursor: pointer;
  border-radius: 8px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-image: linear-gradient(90deg, #797979, #261d19, #96938f);
  box-shadow: 0 0px 10px rgba(34, 34, 34, 0.835);
  background-size: 300%;
  background-position: right;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
  margin-top: 12px;
}

.App.light .button2 {
  color: black;
  background-image: linear-gradient(90deg, #252525, #504743, #f3f3f3);
  border: 0px solid rgba(255, 255, 255);
  box-shadow: 0 0px 15px rgba(173, 173, 173, 0.835);
}

.button2:hover {
  cursor: pointer;
  background-position: left;
  transition: 0.6s;
  transform: translateY(-5px);
}

.App.light .button2:hover {
  background-color: #8f8f8f;
  background-image: none;
}

.heading {
  font-size: 80px;
  /* margin-bottom: 25%; */
  font-family: FastTrack, sans-serif !important;
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.summary {
  width: 60%;
  text-align: center;
  font-size: 20px;
}

.people {
  border-radius: 20px;
  border: 3px solid #6c6c6c;
  min-height: 52px;
  min-width: 400px;
  padding: 10px 15px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  color: white;
  justify-content: space-between;
}

.App.light .people {
  color: black;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px 100px;
  text-align: center;
}

.people-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
  /* overflow-y: auto;
  height: 60px; */
}
.leaderboard-title {
  font-size: 60px;
}
