.title {
  font-size: 40px;
  margin: 10px;
}

.font1 {
  color: white;
  padding: 5px 12px;
  min-width: 200px;
  max-height: 30px;
  transition: 0.6s;
  cursor: pointer;
  border-radius: 8px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-image: linear-gradient(90deg, #252525, #261d19, #96938f);
  box-shadow: 0 0px 10px rgba(34, 34, 34, 0.835);
  background-size: 300%;
  background-position: right;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
  margin-top: 12px;
}

.font1:hover {
  cursor: pointer;
  background-position: left;
  transition: 0.6s;
  box-shadow: 0 0px 15px rgba(34, 34, 34, 0.835);
  transform: translateY(-5px);
}

.font-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  row-gap: 15px;
}

.background-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.background1:hover {
  cursor: pointer;
  background-position: left;
  transition: 0.6s;
  text-shadow: 0 0px 15px rgba(34, 34, 34, 0.835);
  transform: translateY(-5px);
}
