.statistics-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container-statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #323437;
  background-color: #70768431;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  min-height: 400px;
  min-width: 700px;
}

.button-container2 {
  display: flex;
  justify-content: end;
}

.change-button {
  color: white;
  padding: 5px 12px;
  min-width: 150px;
  min-height: 30px;
  transition: 0.6s;
  cursor: pointer;
  border-radius: 8px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-image: linear-gradient(90deg, #252525, #261d19, #96938f);
  box-shadow: 0 0px 10px rgba(34, 34, 34, 0.835);
  background-size: 300%;
  background-position: right;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
}

.change-button:hover {
  cursor: pointer;
  background-position: left;
  transition: 0.6s;
  box-shadow: 0 0px 15px rgba(34, 34, 34, 0.835);
  transform: translateY(-5px);
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
}

.races {
  font-size: x-large;
}
.avg-speed {
  font-size: x-large;
}
